html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Remove scroll bars */
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.topNav {
    background-color: turquoise;
    color: white;
    padding: 20px 0; /* Increased padding to make the top nav bar taller */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
    left: 20px;
}

.navList {
    list-style: none;
    display: none; /* Hide the navigation list by default */
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: turquoise;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navList li {
    margin: 10px 0;
}

.navList a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}

.ham {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 60px;
    top: 20px;
}

.ham .bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.ham.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 9.3px);
}

.ham.active .bar:nth-child(2) {
    opacity: 0;
}

.ham.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -9.3px);
}

.ham.active + .navList {
    display: flex; /* Show the navigation list when the hamburger menu is active */
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas.webgl {
    width: 100%;
    height: 100%;
}

.bottomNav {
    background-color: turquoise;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed; /* Ensure the bottom nav is fixed at the bottom */
    bottom: 0;
}

.weather-container {
    position: absolute;
    top: 80px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 200px;
    z-index: 10;
}

#loading-screen {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    transition: transform 1s ease-in-out;
    transform: translateY(0); /* Initial state */
}

#loading-screen.hidden {
    transform: translateY(-100%); /* Final state */
}

.loading-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.loading-content h1 {
    color: turquoise;
    font-size: 48px;
    margin-bottom: 20px;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
  }
  
  .dash {
    margin: 0 15px;
    width: 35px;
    height: 15px;
    border-radius: 8px;
    background: turquoise;
    box-shadow: 0 0 10px 0 #8edbe7;
  }
  
  .one {
    margin-right: -18px;
    transform-origin: center left;
    animation: spin 3s linear infinite;  
  }
  
  .two {
    transform-origin: center right;
    animation: spin2 3s linear infinite;
    animation-delay: .2s;
  }
  
  .three {
    transform-origin: center right;
    animation: spin3 3s linear infinite;
    animation-delay: .3s;
  }
  
  .four {
    transform-origin: center right;
    animation: spin4 3s linear infinite;
    animation-delay: .4s;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(360deg);
    }
    30% {
      transform: rotate(370deg);
    }
    35% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin2 {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(0deg);
    }
    30% {
      transform: rotate(-180deg);
    }
    35% {
      transform: rotate(-190deg);
    }
    40% {
      transform: rotate(-180deg);
    }
    78% {
      transform: rotate(-180deg);
    }
    95% {
      transform: rotate(-360deg);
    }
    98% {
      transform: rotate(-370deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }
  
  @keyframes spin3 {
    0% {
      transform: rotate(0deg);
    }
    27% {
      transform: rotate(0deg);  
    }
    40% {
      transform: rotate(180deg);
    }
    45% {
      transform: rotate(190deg);
    }
    50% {
      transform: rotate(180deg);
    }
    62% {
      transform: rotate(180deg);
    }
    75% {
      transform: rotate(360deg);
    }
    80% {
      transform: rotate(370deg);
    }
    85% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes spin4 {
    0% {
      transform: rotate(0deg);
    }
    38% {
      transform: rotate(0deg);
    }
    60% {
      transform: rotate(-360deg);
    }
    65% {
      transform: rotate(-370deg);
    }
    75% {
      transform: rotate(-360deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }