/* filepath: /c:/Users/sondr/OneDrive/Desktop/HverMelding/src/style.scss */

@use 'scss/variables' as *;
@use 'scss/mixins' as *;
@use 'scss/loading-screen';
@use 'scss/weather';
@use 'scss/main';
@use 'scss/bottom-nav';
@use 'scss/top-nav';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Remove scroll bars */
    font-family: $font-family;
}

body {
    @include flex-center;
    flex-direction: column;
}
