html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* Remove scroll bars */
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
}

.topNav {
    background-color: turquoise;
    color: white;
    padding: 20px 0; /* Increased padding to make the top nav bar taller */
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
    text-decoration: none;
    color: white;
    left: 20px;
}

.navList {
    list-style: none;
    display: none; /* Hide the navigation list by default */
    flex-direction: column;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 80px;
    right: 20px;
    background-color: turquoise;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

.navList li {
    margin: 10px 0;
}

.navList a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    display: block;
}

.ham {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: absolute;
    right: 60px;
    top: 20px;
}

.ham .bar {
    width: 100%;
    height: 4px;
    background-color: white;
    border-radius: 2px;
    transition: all 0.3s ease;
}

.ham.active .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 9.3px);
}

.ham.active .bar:nth-child(2) {
    opacity: 0;
}

.ham.active .bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -9.3px);
}

.ham.active + .navList {
    display: flex; /* Show the navigation list when the hamburger menu is active */
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas.webgl {
    width: 100%;
    height: 100%;
}

.bottomNav {
    background-color: turquoise;
    color: white;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    position: fixed; /* Ensure the bottom nav is fixed at the bottom */
    bottom: 0;
}

.weather-container {
    position: absolute;
    top: 80px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    max-width: 200px;
    z-index: 10;
}